In [1]:
import pandas as pd

In [2]:
path_folder = "../data"
raw_data = "/01_raw"
filename = "/data_baseline_v0.parquet"

In [3]:
print(path_folder + raw_data + filename)

../data/01_raw/data_baseline_v0.parquet

In [4]:
!head ../data/01_raw/data_baseline_v0.parquet

��R2�	1�M��2�`�8�).�SM~M�	JOF��	��.}�	�I9C�	�Nn	�d'	V�cY`KO	h�)X5�	p_��H��)H��	xg_)���	0�p)(��	��}8�@�U��	8!e	(-�)X��	�w	`��I��))�	�C�	 �4	p�()�� ��)h6	@��)H_	�X[ ��	0Ey	X��	Mg5 c	PYW��	@��)��w	��a)P �&  ��7
	#�T�u��	:�	��I���	 �	�T�)z�N0]d	��7I��>)���	
i�\iP�)�@��)H+8	�O;)�ٲix �I [�I( �	����{I�I��	�V	��	( b-x.q	x�.)PIP	XM�	Hq�II�I �MI�o�Ip��	Pag)�YxZ3 &�	�E	V]e	p~d	������X�6I(�u	0*�)��	pv	�
�) ���)(�[) ̣)�@/ ڭ��B	��(��/�	S�V�:�	� �-(�I�z> J���/	F
) .�	�kI0X!)  �m�@	��B	@)��	�h�	��T�w��ލI(��Ix�C)�e)	�v	���	X��	�J	``0I��]�:	��
��"	Xћ�4Ea��)�f�	��	p�~� �W	h�� �g	��)�	h �	��I�j^)��s	� �Xk	0]�	��)��	pj� �iHNI���	���	hQ�IX;�τ	0 y) �2RIX�6��	�U#	p�)P-�	@Ew	X, \�	�Z	X�d	8�`I�����	��R)���V)�j�	8{g�	�٩)ni�p	�u+) �	 �]	P!(I� �ÒIXN�	Pܭ	���	HLK	H?)	�h�	(�s�P�"I�<�)`���x7�Ip$n	0QH�(:�/�)(�I��m	h��)�Ӊ ��)��P	��
���	�P��u	��	HU���ԁI�ݚ�PP�	8 �
�	�#l	��!	��n)����
PT"	h��	H�Q	�p	�L�I��)h�߉@}x% |�Ih� �j�IP�O	���)�F) H�)8�ꩰ��iX�{%a��	 �
�:~	��[)75C9:P ip[����n)� �	 �m	���	��3IP�	!'�	�`	��(:�	HT�����I�6�X�8	 C�	 wJ)�v�I�Ϣ	H,)�$�����)8Մ��L�	H 

In [5]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Users/federicomoreno/personal/juanmaria/venv/lib/python3.8/site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/federicomoreno/personal/juanmaria/venv/lib/python3.8/site-packages (from pyarrow) (1.23.2)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/federicomoreno/personal/juanmaria/venv/bin/python -m pip install --upgrade pip' command.

In [6]:
df = pd.read_parquet(path_folder + raw_data + filename)

In [7]:
df.head()

,user_id,session_id,session_start_time,session_end_time,utm_campaign,utm_source,total_sessions,session_duration,timeaccum,date_reserve,user_with_reserve,stock_id,days_event_to_reserve,target
0,4544406,1640995204016,2022-01-01 00:00:05.168,2022-01-01 00:00:06.535,mx-pue-sales-oportunities-daba-facebook-ao_add...,facebook,1,1,1,2023-01-01,NaN,NaN,364,0
1,5331938,1640994855839,2022-01-01 00:00:06.994,2022-01-01 00:13:08.025,mx-gdl-sales-oportunities-daba-facebook-ao_add...,facebook,1,781,781,2023-01-01,NaN,NaN,364,0
2,8562331,1640993452322,2022-01-01 00:00:26.395,2022-01-01 00:00:26.395,mx-cdmx-sales-oportunities-targetylal-facebook...,facebook,1,0,0,2023-01-01,NaN,NaN,364,0
3,8511387,1640995227918,2022-01-01 00:00:27.983,2022-01-01 00:00:27.983,mx-gdl-sales-oportunities-rmkt-facebook-ao_add...,facebook,1,0,0,2023-01-01,NaN,NaN,364,0
4,3871376,1640995240826,2022-01-01 00:00:40.844,2022-01-01 00:00:40.844,mx-cdmx-sales-oportunities-rmkt-facebook-ao_ad...,facebook,1,0,0,2023-01-01,NaN,NaN,364,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257918 entries, 0 to 1522461
Data columns (total 14 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   user_id                1257918 non-null  int64
 1   session_id             1257918 non-null  int64
 2   session_start_time     1257918 non-null  datetime64[ns]
 3   session_end_time       1257918 non-null  datetime64[ns]
 4   utm_campaign           1257918 non-null  object
 5   utm_source             1257850 non-null  category
 6   total_sessions         1257918 non-null  int64
 7   session_duration       1257918 non-null  int64
 8   timeaccum              1257918 non-null  int64
 9   date_reserve           1257918 non-null  datetime64[ns]
 10  user_with_reserve      78113 non-null    float64
 11  stock_id               78113 non-null    float64
 12  days_event_to_reserve  1257918 non-null  int64
 13  target                 1257918 non-null  int64
dtypes: category(1), datetime64[ns](3), float64(2), int64(7), object(1)
memory usage: 135.6+ MB

In [9]:
from utils import reduce_memory

In [10]:
df["date_reserve"].dtype

dtype('<M8[ns]')

In [11]:
#selected_cols = [col for col in df.columns if df[col].dtype!='<M8[ns]']

selected_cols = []
for columna in df.columns:
    if df[columna].dtype != '<M8[ns]':
        selected_cols.append(columna)

In [12]:
selected_cols

['user_id',
 'session_id',
 'utm_campaign',
 'utm_source',
 'total_sessions',
 'session_duration',
 'timeaccum',
 'user_with_reserve',
 'stock_id',
 'days_event_to_reserve',
 'target']

In [13]:
df[selected_cols] = reduce_memory(df[selected_cols])

/Users/federicomoreno/personal/juanmaria/data_eng_project/laboratorio/utils.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], downcast=type)
/Users/federicomoreno/personal/juanmaria/data_eng_project/laboratorio/utils.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], downcast="integer")

optimized size by 43.99999999999999 % | 0.062897364 GB

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1257918 entries, 0 to 1522461
Data columns (total 14 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   user_id                1257918 non-null  int32
 1   session_id             1257918 non-null  int64
 2   session_start_time     1257918 non-null  datetime64[ns]
 3   session_end_time       1257918 non-null  datetime64[ns]
 4   utm_campaign           1257918 non-null  object
 5   utm_source             1257850 non-null  category
 6   total_sessions         1257918 non-null  int16
 7   session_duration       1257918 non-null  int32
 8   timeaccum              1257918 non-null  int32
 9   date_reserve           1257918 non-null  datetime64[ns]
 10  user_with_reserve      78113 non-null    float32
 11  stock_id               78113 non-null    float32
 12  days_event_to_reserve  1257918 non-null  int16
 13  target                 1257918 non-null  int8
dtypes: category(1), datetime64[ns](3), float32(2), int16(2), int32(3), int64(1), int8(1), object(1)
memory usage: 88.8+ MB

Creo columnas de acuerdo al canal de contacto

In [15]:
df['remarketing'] = df.utm_campaign.str.contains('rmkt')
df['purchases'] = df.utm_campaign.str.contains('purchase')
df['whatsapp'] = df.utm_source == 'whatsapp'
df['facebook'] = df.utm_source == 'facebook'
df['google'] = df.utm_source == 'google'
df['tiktok'] = df.utm_source == 'tiktok'
df['insta'] = df.utm_source == 'instagram'
df['sales'] = df.utm_campaign.str.contains('sale')
df['hour'] = df.session_start_time.dt.hour

Separo el dataset en X = variables, Y= variable dependiente o target

In [16]:
Y = df.target
X = df[['total_sessions', 'session_duration', 'timeaccum','remarketing','purchases','whatsapp','sales','hour','facebook','google','tiktok','insta']]

Preproceso las columnas para que funcionene mejor en el modelo

In [17]:
import numpy as np

X['session_duration'] = np.log(X['session_duration']+1)
X['timeaccum'] = np.log(X['timeaccum']+1)
X['total_sessions'] = np.log(X['total_sessions']+1)

/var/folders/hc/jwd08zzs6zg8d4ktgzqptl700000gp/T/ipykernel_16533/2559815566.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['session_duration'] = np.log(X['session_duration']+1)
/var/folders/hc/jwd08zzs6zg8d4ktgzqptl700000gp/T/ipykernel_16533/2559815566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['timeaccum'] = np.log(X['timeaccum']+1)
/var/folders/hc/jwd08zzs6zg8d4ktgzqptl700000gp/T/ipykernel_16533/2559815566.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['total_sessions'] = np.log(X['total_sessions']+1)

Transformo las columnas de string en columnas categoricas (que el algoritmo entiende que son categoricas

In [20]:
example = pd.DataFrame({"Cliente":["1","2","3"],
              "Canal":["FB","WP","Tiktok"]})

example

  Cliente   Canal
0       1      FB
1       2      WP
2       3  Tiktok

In [21]:
pd.get_dummies(example, prefix="canal", prefix_sep="_", columns=["Canal"])

  Cliente  canal_FB  canal_Tiktok  canal_WP
0       1         1             0         0
1       2         0             0         1
2       3         0             1         0

Como mi modelo me lo hace las categoricas como Dummie automaticamente, lo único que tengo que hacer es pasar las columnas a type "category"

In [22]:
for column in X.columns:
    if X[column].dtype == 'str':
        X[column] = X[column].astype('category')

In [27]:
user_id_df = df[["user_id"]]
user_id_df["VALOR_CONSTANTE"] = 1

/var/folders/hc/jwd08zzs6zg8d4ktgzqptl700000gp/T/ipykernel_16533/1994181129.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_id_df["VALOR_CONSTANTE"] = 1

In [28]:
user_id_df

          user_id  VALOR_CONSTANTE
0         4544406                1
1         5331938                1
2         8562331                1
3         8511387                1
4         3871376                1
...           ...              ...
1522453  10398583                1
1522454  10231979                1
1522458   8599790                1
1522460   3546653                1
1522461  10103195                1

[1257918 rows x 2 columns]

In [29]:

#mergeo user_id con features de mi modelo
pd.merge(user_id_df, X, how="inner", right_index=True, left_index=True)

,user_id,VALOR_CONSTANTE,total_sessions,session_duration,timeaccum,remarketing,purchases,whatsapp,sales,hour,facebook,google,tiktok,insta
0,4544406,1,0.693147,0.693147,0.693147,False,False,False,True,0,True,False,False,False
1,5331938,1,0.693147,6.661855,6.661855,False,False,False,True,0,True,False,False,False
2,8562331,1,0.693147,0.000000,0.000000,False,False,False,True,0,True,False,False,False
3,8511387,1,0.693147,0.000000,0.000000,True,False,False,True,0,True,False,False,False
4,3871376,1,0.693147,0.000000,0.000000,True,False,False,True,0,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522453,10398583,1,1.386294,0.000000,6.167516,False,False,False,True,23,True,False,False,False
1522454,10231979,1,1.098612,0.000000,0.000000,False,True,False,False,23,True,False,False,False
1522458,8599790,1,1.386294,1.098612,7.053586,False,False,False,True,23,False,False,True,False
1522460,3546653,1,2.079442,0.000000,13.062660,False,False,False,True,23,True,False,False,False
1522461,10103195,1,1.098612,0.000000,4.394449,False,False,False,True,23,True,False,False,False

# Corro el modelo

In [ ]:
#!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-macosx_10_14_x86_64.macosx_10_15_x86_64.macosx_11_0_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 11.9 MB/s
Collecting scipy
  Using cached scipy-1.9.1-cp38-cp38-macosx_12_0_universal2.macosx_10_9_x86_64.whl (58.1 MB)
Requirement already satisfied: wheel in /Users/federicomoreno/personal/juanmaria/venv/lib/python3.8/site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: numpy in /Users/federicomoreno/personal/juanmaria/venv/lib/python3.8/site-packages (from lightgbm) (1.23.2)
Collecting scikit-learn!=0.22.0
  Using cached scikit_learn-1.1.2-cp38-cp38-macosx_10_9_x86_64.whl (8.6 MB)
Collecting joblib>=1.0.0
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, lightgbm

In [30]:
from lightgbm import LGBMClassifier, LGBMRegressor

ModuleNotFoundError: No module named 'lightgbm'